---
title: プライバシーポリシー
linkTitle: Privacy
menu:
  main:
    weight: 40
---


{{< blocks/cover title="プライバシーポリシー" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">げっとシステムが集める情報と、その理由</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
げっとシステムが集める情報について
{{% /blocks/lead %}}


{{< blocks/section color="info" >}}

{{% blocks/feature icon="fa-shoe-prints" title="アクセス履歴" %}}
げっとシステムが提供するサービス内のアクセス履歴を記録します
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-envelope" title="メールアドレス" %}}
ユーザー登録時にメールアドレスを要求するサービスがあります
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-key" title="ログインID / パスワード" %}}
サービス利用のためにログインID とパスワードを登録する必要があります
{{% /blocks/feature %}}

{{< /blocks/section >}}



{{< blocks/section color="gray" >}}

<div class="col-12">
<h4 class="text-center">げっとシステムが情報を集める理由</h4>
</div>

{{< /blocks/section >}}

{{< blocks/section color="white" >}}


{{% blocks/feature icon="fa-shoe-prints" title="アクセス履歴" %}}
どんな操作を実行したかを解析し、サービスの改善を行います

サービス内のアクセス履歴を削除する方法の提供はありません
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-envelope" title="メールアドレス" %}}
パスワードがわからなくなった場合に一時的なトークンを送信します

メールアドレスはサービスの設定ページから削除できます
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-key" title="ログインID / パスワード" %}}
パスワードは暗号化され、ユーザー以外は復元できません

サービスへのログイン以外でこの情報を利用することはありません
{{% /blocks/feature %}}


{{< /blocks/section >}}
