+++
title = "げっと Habit"
linkTitle = "げっと Habit"

+++

{{< blocks/cover title="げっと Habit" image_anchor="top" height="full" color="yellow" >}}
<div class="mx-auto">
  <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
    ドキュメント <i class="fas fa-arrow-alt-circle-right ml-2"></i>
  </a>
  <a class="btn btn-lg btn-dark mr-3 mb-4" href="{{< relref "/blog" >}}">
    目的 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
  </a>
  <p class="lead mt-5">Enhance the System by continuous growing ideas</p>
  <div class="mx-auto mt-5">
    {{< blocks/link-down color="info" >}}
  </div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
システムを継続的に強化する

アイデアのストック、タスクの検証、価値の概観
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-comments" title="Aquarium" %}}
思いついたアイデアを浮かべておく

重要なアイデアを優先して選んで実施する

<a href="{{< relref "/docs/aquarium" >}}">詳細…</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-trophy" title="Trophy" %}}
実施したタスクの検証

指標を計測して目的の達成を検証する

<a href="{{< relref "/docs/trophy" >}}">詳細…</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-tachometer-alt" title="Cockpit" %}}
トロフィーの概観

タスクの価値をカンバン形式で概観する

<a href="{{< relref "/docs/cockpit" >}}">詳細…</a>
{{% /blocks/feature %}}

{{< /blocks/section >}}
